h1 {
    color: black;
    font-weight: bold;
}

h3 {
    color: black;
    font-weight: normal;
}

label {
    font-weight: bold;
}

.lightBlueBackground {
    background-color: lightblue;
}

.mediumPadding {
    padding: 5px;
}

.two-column-left {
    float: left;
}
.two-column-right {
    float: right;
}

.clearDiv {
    clear: both;
}


.spaceTopAndBottom{
    margin: 10px 0px;
}

.boldTxt{
    font-weight: bold;
}

#accountOptions {
    margin-bottom: 15px;
}

#accountOptions label {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
    font-weight: normal;
}

#accountOptions input {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px 0px 0px;
}

.centerText {
    text-align: center;
}